@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  overflow:hidden;
}

.animate{
  z-index:0;
  animation : moving 15s linear infinite; 
}
@keyframes moving{
  0% {
    transform:translate(-20%);
  }
  100%{
    transform:translate(90%);
  }
}


